body{    
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #191919;
    min-height: 100vh;
}

.calculadora{
    background-color: #41555d;
    border-radius: 20px;
    box-shadow: 10px 10px 0 #808080;
    padding: 20px 10px;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
    padding: 10px;
}

.botao {
    border-radius: 20px;
    box-shadow: 0 5px 0 #808080;
    background-color: #fdfdfd ;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    height: 70px;
    width: 80px;
}

.igual{    
    background-color: #fcaa2c;
    color: #ffffff
}

.botao:hover{    
    background-color: #d3d3d3;
}

.igual:hover{    
    background-color: #fa9703d0;
    color: #ffffff
}

.visor {
    background-color: #ddedc8;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    margin-bottom: 24px;
    padding: 10px;
    text-align: right;
    width: 370px;
}